[submodule "modules/autosuggestions/external"]
	path = modules/autosuggestions/external
	url = https://github.com.cnpmjs.org/zsh-users/zsh-autosuggestions.git
[submodule "modules/history-substring-search/external"]
	path = modules/history-substring-search/external
	url = https://github.com.cnpmjs.org/zsh-users/zsh-history-substring-search.git
[submodule "modules/syntax-highlighting/external"]
	path = modules/syntax-highlighting/external
	url = https://github.com.cnpmjs.org/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/completion/external"]
	path = modules/completion/external
	url = https://github.com.cnpmjs.org/zsh-users/zsh-completions.git
[submodule "modules/prompt/external/powerline"]
	path = modules/prompt/external/powerline
	url = https://github.com.cnpmjs.org/davidjrice/prezto_powerline.git
[submodule "modules/prompt/external/agnoster"]
	path = modules/prompt/external/agnoster
	url = https://github.com.cnpmjs.org/agnoster/agnoster-zsh-theme.git
[submodule "modules/prompt/external/pure"]
	path = modules/prompt/external/pure
	url = https://github.com.cnpmjs.org/sindresorhus/pure.git
[submodule "modules/fasd/external"]
	path = modules/fasd/external
	url = https://github.com.cnpmjs.org/clvv/fasd.git
[submodule "modules/prompt/external/async"]
	path = modules/prompt/external/async
	url = https://github.com.cnpmjs.org/mafredri/zsh-async.git
[submodule "modules/prompt/external/powerlevel10k"]
	path = modules/prompt/external/powerlevel10k
	url = https://github.com.cnpmjs.org/romkatv/powerlevel10k.git
	shallow = true
